.app{
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.subcontent{
    background-image: url('./images/bg-boost-desktop.svg');
    padding: 3rem 2rem;
    background-color: var(--primary-dark-violet);
}

.subcontent__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subcontent p{
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
}

.subcontent__button{
    background-color: var(--primary-cyan);
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 2.5rem;
    cursor: pointer;
    color: #fff;
    transition: all 250ms ease;
    font-size: 1.6rem;
}

.subcontent__button:hover{
    opacity: 0.8;
}

@media screen and (max-width:1032px) {
    .subcontent p{
        font-size: 2.4rem;
    }

    .subcontent__button{
        padding: 1rem 5rem;
    }
}